@use 'fonts';

$primary-color: #7A2A85;
$secondary-color: #F7F0F0;
$accent-color: #009DFF;
$third-color: #271762;
$body-text-color: #000000;
$heading-font-family: 'PremierLeague-Heavy', sans-serif;
$body-font-family: 'PremierLeague-Regular', sans-serif;
$light-body-font: 'PremierLeague-Light', sans-serif;
$bold-body-font: 'PremierLeague-Bold', sans-serif;
$base-font-size: 18px;
$base-font-weight: 400;